# Data
/data/risk_calculator/inputs
/data/risk_calculator/outputs
/data/risk_calculator/logs

# Python
*/__pycache__
*.__pycache__
*.pyc

# Jupyter
/src/risk_calculator/.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Secrets
/src/service/app.py